html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

h1 {
    font-family: "Georgia", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    border-top: 2px solid rgb(0, 0, 0);
}

.siteTitle, header {
    display: inline-block;
}

nav li {
    display: inline-block;
}

button {
    border: none;
    background: rgb(255, 255, 255);
    
}

header button {
    color: rgb(0, 128, 0);
}